[package]
name = "wiremock"
version = "0.5.1-alpha.0"
authors = ["Luca Palmieri <rust@lpalmieri.com>"]
edition = "2018"

license = "MIT/Apache-2.0"

repository = "https://github.com/LukeMathWalker/wiremock-rs"
documentation = "https://docs.rs/wiremock/"

description = "HTTP mocking to test Rust applications."

keywords = ["test", "http", "mocking", "mock", "black-box"]
categories = ["development-tools", "asynchronous"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
path = "src/lib.rs"

[dependencies]
log = "0.4"
http-types = { version = "2.9", default-features = false, features = ["hyperium_http"] }
serde_json = "1"
serde = "1"
regex = "1"
futures-timer = "3.0.2"
futures = "0.3.5"
hyper = { version = "0.14", features = ["full"] }
tokio = { version = "1", features = ["rt", "io-util", "time"] }
deadpool = "0.7.0"
async-trait = "0.1.42"
once_cell = "1.5.2"
textwrap = "0.13.3"

[dev-dependencies]
async-std = { version = "1", features = ["attributes"] }
surf = "2"
reqwest = "0.11"
tokio = { version = "1", features = ["macros"] }
actix-rt = "2.0.0-beta.2"
isahc = "0.9.14"
